name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CI_XCODE_OLDEST: '/Applications/Xcode_16.3.app/Contents/Developer'
  CI_XCODE: '/Applications/Xcode_26.1.app/Contents/Developer'

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
  xcode-test-ios:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Install SwiftLint
      run: brew install swiftlint
    - name: Build
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -testPlan ParseCareKit -scheme ParseCareKit -destination platform\=iOS\ Simulator,name\=iPhone\ 17\ Pro\ Max -derivedDataPath DerivedData clean test 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        target-name-filter: '^ParseCareKit$'
        format: lcov
        search-paths: ./DerivedData
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        env_vars: IOS
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}

  xcode-test-macos:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Install SwiftLint
      run: brew install swiftlint
    - name: Build
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -testPlan ParseCareKit -scheme ParseCareKit -destination platform\=macOS -derivedDataPath DerivedData clean test 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        target-name-filter: '^ParseCareKit$'
        format: lcov
        search-paths: ./DerivedData
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        env_vars: MACOS
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}

  xcode-build-watchos:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Upload codecov yml
      run: |
        cat .codecov.yml | curl --data-binary @- https://codecov.io/validate
    - name: Build
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -scheme ParseCareKit -destination platform\=watchOS\ Simulator,name\=Apple\ Watch\ Series\ 11\ \(46mm\) 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}

  spm-test:
    timeout-minutes: 15
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Create and set the default keychain
      run: |
        security create-keychain -p "" temporary
        security default-keychain -s temporary
        security unlock-keychain -p "" temporary
        security set-keychain-settings -lut 7200 temporary
    - name: Build-Test
      run: swift test
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}

  spm-test-oldest:
    timeout-minutes: 15
    runs-on: macos-15-arm64
    steps:
    - uses: actions/checkout@v6
    - name: Create and set the default keychain
      run: |
        security create-keychain -p "" temporary
        security default-keychain -s temporary
        security unlock-keychain -p "" temporary
        security set-keychain-settings -lut 7200 temporary
    - name: Build-Test
      run: swift test
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_OLDEST }}

  docs:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - name: Generate Docs
        run: set -o pipefail && env NSUnbufferedIO=YES Scripts/generate-documentation
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
