name: release
on:
  release:
    types: [published]
env:
  CI_XCODE: '/Applications/Xcode_26.1.app/Contents/Developer'
  
jobs:
  docs:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - name: Build and Deploy Docs
        run: set -o pipefail && env NSUnbufferedIO=YES Scripts/update-gh-pages-documentation-site
        env:
          CURRENT_BRANCH_NAME: release
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
